<!-- <p>password-change-modal works!</p> -->
<div fxLayout="row" fxLayoutAlign="center center">
  <div>
    <h1 mat-dialog-title>Password change</h1>
    <!-- <mat-divider></mat-divider> -->
    <form [formGroup]="passwordFormGroup" novalidate>
      <div mat-dialog-content fxLayout="column" fxLayoutAlign="center center">

        <mat-form-field>
          <mat-label>Current password</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword" type="button">
            <mat-icon>{{hidePassword? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="passwordFormGroup.get('password').hasError('pattern') && passwordFormGroup.get('password').touched">
            <span>
              Min.5, Max.25 caractère.
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>New password</mat-label>
          <input matInput [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword" class="form-control">
          <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword" [attr.aria-label]="'Hide new password'" [attr.aria-pressed]="hideNewPassword" type="button">
            <mat-icon>{{hideNewPassword? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error class="form-control-feedback" *ngIf="passwordFormGroup.get('newPassword').hasError('pattern') && passwordFormGroup.get('newPassword').touched">
            Min.5, Max.25 caractère.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>New password again</mat-label>
          <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword" class="form-control">
          <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password confirmation'" [attr.aria-pressed]="hideConfirmPassword" type="button">
            <mat-icon>{{hideConfirmPassword? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error class="form-control-feedback" *ngIf="passwordFormGroup.get('confirmPassword').hasError('pattern') && passwordFormGroup.get('confirmPassword').touched">
            Min.5, Max.25 caractère.
          </mat-error>
        </mat-form-field>

        <mat-error *ngIf="passwordFormGroup.hasError('notSame')">
          Les deux mots de passe doivent être identiques.
        </mat-error>
      </div>

      <div mat-dialog-actions fxLayout="column" fxLayoutAlign="center center">
        <!-- <button mat-button (click)="onNoClick()">No</button> -->
        <!-- <button mat-button [mat-dialog-close]="data.email" cdkFocusInitial>Yes</button> -->
        <button mat-raised-button [disabled]="passwordFormGroup.invalid" (click)="onSubmitClick()" >submit</button>
      </div>
    </form>
  </div>

</div>
