<div fxLayout="row">
  <div fxFlex="20" class="borderProfile">
    <app-side-bar></app-side-bar>
  </div>
  <div fxFlex="80"><mat-accordion>
    <mat-expansion-panel  hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <!-- <mat-spinner *ngIf="loading" class="check_request" [diameter]="16" [strokeWidth]="2"></mat-spinner> -->
          <mat-icon class="check_request check_ko"  [class.check_ok]="ping()" >{{ping() ? 'done' : 'warning'}}</mat-icon>
          <code>koa-typescript-restfull-api</code>
        </mat-panel-title>
        <mat-panel-description>
          Fullstack Restfull API
        </mat-panel-description>
      </mat-expansion-panel-header>
      <!-- <p *ngIf="loading">
        checking for koa server availability ...
      </p> -->
      <p>
        Restfull Koa server is {{ping() ? '' : 'not'}} available - Swagger on
        <a href="https://api.koa.pfouque.fr:8443/swagger" target="_blank" title="Koa Swagger">
          <mat-icon class="material-icons md-24">engineering</mat-icon>
        </a>
        - Repository on
        <a href="https://github.com/pfouque06/koa-typescript-restfull-api" target="_blank" title="GitHub">
          <mat-icon class="material-icons md-24" fontSet="fa" fontIcon="fa-github"></mat-icon>
        </a>
      </p>

    </mat-expansion-panel>
  </mat-accordion>
  <mat-divider></mat-divider>

  <router-outlet></router-outlet>
</div>
</div>
<!-- <app-side-bar></app-side-bar> -->
<!-- <router-outlet></router-outlet> -->
