<!-- <p>home works!</p> -->
<div class="mat-app-background basic-container">
  <!-- <hr> -->
  <p>Welcome to this Showroom.</p>

  <p>The purpose of this Showroom is to demo some design works and under test features of Angular with Materials add-ons and a dashboard for a front fullstack api.</p>
  <p>Don't hesitate to have a look around and keep in mind that this site is dynamic and adapted according to daily needs of his owner.</p>
  <p>Please contact me if any questions.</p>
  <br>

    <!-- PREVIOUS ACCORDION DECORATION -->
    <!-- <div class="mb-3">
      <ngb-accordion [closeOthers]="true" type="light" activeIds="static-4">

        <ngb-panel id="static-1">
          <ng-template ngbPanelHeader let-opened="opened">
            <div class="d-flex align-items-center justify-content-start">
              <button ngbPanelToggle class="btn btn-link container-fluid text-left text-dark pl-0">
                <h5 class="m-0">
                  <fa-icon [icon]="opened ? 'caret-down' : 'caret-right'" [fixedWidth]="true"></fa-icon>
                  <span [class]="opened ? 'text-dark' : 'text-muted'">Angular</span>
                </h5>
              </button>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <code>Angular</code> works just fine !
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div> -->

    <!-- <div class="card p-3">
      <div class="d-flex">
        <div [@Tbounce]="bounce"><fa-icon icon="volleyball-ball" size="2x"></fa-icon></div>
        <div [@Tflash]="flash"><fa-icon icon="heart" size="2x"></fa-icon></div>
        <div [@Tpulse]="pulse"><fa-icon icon="heart" size="2x"></fa-icon></div>
        <div [@TrubberBand]="rubberBand"><fa-icon icon="heart" size="2x"></fa-icon></div>
        <div [@Tshake]="shake"><fa-icon icon="heart" size="2x"></fa-icon></div>
        <div [@Tswing]="swing"><fa-icon icon="heart" size="2x"></fa-icon></div>
        <div [@Ttada]="tada"><fa-icon icon="heart" size="2x"></fa-icon></div>
        <div [@Twobble]="wobble"><fa-icon icon="heart" size="2x"></fa-icon></div>
        <div [@Tjello]="jello"><fa-icon icon="heart" size="2x"></fa-icon></div>
        <div [@Tflip]="flip"><fa-icon icon="heart" size="2x"></fa-icon></div>
        <div [@TjackInTheBox]="jackInTheBox"><fa-icon icon="heart" size="2x"></fa-icon></div>
      </div>
    </div> -->

    <!-- COLLAPSED DECORATIONS -->
    <!-- <div class="card p-3 mb-3"> -->
    <!-- <div class="p-3 mb-3">
      <div class="row mb-3">
        <div class="col-auto">
          <button type="button" class="btn btn-outline-dark"
            (click)="isFirstCollapsed = !isFirstCollapsed; firstToggle = !firstToggle" [@TrubberBand01]="firstToggle"
            [attr.aria-expanded]="!isFirstCollapsed" aria-controls="ngCollapseFirst">
            Angular
          </button>
        </div>
        <div class="col-auto ">
          <button type="button" class="btn btn-outline-dark"
            (click)="isSecondCollapsed = !isSecondCollapsed; secondToggle = !secondToggle" [@TrubberBand01]="secondToggle"
            [attr.aria-expanded]="!isSecondCollapsed" aria-controls="ngCollapseSecond">
            ng-Bootstrap
          </button>
        </div>
        <div class="col-auto ">
          <button type="button" class="btn btn-outline-dark"
            (click)="isThirdCollapsed = !isThirdCollapsed; thirdToggle = !thirdToggle" [@TrubberBand01]="thirdToggle"
            [attr.aria-expanded]="! isThirdCollapsed" aria-controls="ngCollapseThird">
            Fontawesome
          </button>
        </div>
        <div class="col-auto ">
          <button type="button" class="btn btn-secondary"
            (click)="All(); allToggle = !allToggle" [@TrubberBand01]="allToggle"
            aria-controls="ngCollapseFirst ngCollapseSecond ngCollapseThird">
            All
          </button>
        </div>
        <div class="col-auto ">
          <button type="button" class="btn btn-warning"
            (click)="XAll(); xAllToggle = !xAllToggle" [@TrubberBand01]="xAllToggle"
            [attr.aria-expanded]="! (isFirstCollapsed && isSecondCollapsed && isThirdCollapsed)"
            aria-controls="ngCollapseFirst ngCollapseSecond ngCollapseThird">
            X-All
          </button>
        </div>
      </div>

      <div class="row" style="height: 200px;">
        <div class="col">
          <div id="ngCollapseFirst" [ngbCollapse]="isFirstCollapsed" >
            <div [@TflipYGate]="isFirstCollapsed ? 'out' : 'in'">
              <div class="card">
                <div class="card-body border bg-light">
                  <code>Angular</code> works just fine !
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div id="ngCollapseSecond" [ngbCollapse]="isSecondCollapsed">
            <div [@TflipXGate]="isSecondCollapsed ? 'out' : 'in'">
              <div class="card">
                <div class="card-body border bg-light">
                  <code>ng-bootstrap</code> seems to be installed and operational as well!!
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div id="ngCollapseThird" [ngbCollapse]="isThirdCollapsed">
            <div [@TflipXGate]="isThirdCollapsed ? 'out' : 'in'">
              <div class="card">
                <div class="card-body border bg-light">
                  <code>Fontawesome</code> works also ! <fa-icon icon="check"></fa-icon> ...<fa-icon icon="coffee"></fa-icon>
                  <p>It's awesome !!!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div> -->

  <mat-divider></mat-divider>
  <!-- <mat-slider min="1" max="100" step="1" value="1">material is loaded !</mat-slider> -->


  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="check_request" style="color: darkgreen">done</mat-icon>
          <code>@angular/material</code>
        </mat-panel-title>
        <mat-panel-description>
          Material for Angular
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <code>@angular/material</code>
          </mat-card-title>
          <mat-card-subtitle>
            Material for Angular
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <code>@angular/material</code> is be installed and operational !!
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button matTooltip="Share" aria-label="Share"><mat-icon>share</mat-icon></button>
          <button mat-icon-button matTooltip="Like" aria-label="Like" color="primary"><mat-icon>thumb_up</mat-icon></button>
          <button mat-icon-button matTooltip="Love" aria-label="Love" color="warn"><mat-icon>favorite</mat-icon></button>
        </mat-card-actions>
      </mat-card>

    </mat-expansion-panel >
    <mat-expansion-panel  hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-spinner *ngIf="loading" class="hello_spinner" [diameter]="16" [strokeWidth]="2"></mat-spinner>
          <mat-icon *ngIf="!loading" class="check_request" [style]="ping ? 'color: darkgreen':'color: crimson'">{{ping ? 'done' : 'warning'}}</mat-icon>
          <code>koa-typescript-restfull-api</code>
        </mat-panel-title>
        <mat-panel-description>
          Fullstack Restfull API
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p *ngIf="loading">
        checking for koa server availability ...
      </p>
      <p *ngIf="!loading">
        Restfull Koa server is {{ping ? '' : 'not'}} available
      </p>

    </mat-expansion-panel>
  </mat-accordion>

  <mat-divider></mat-divider>
  <!-- <p><code>Fontawesome</code> works also !! <fa-icon icon="check"></fa-icon> ...<fa-icon icon="coffee"></fa-icon></p> -->

</div>
