<!-- <p>home works!</p> -->
<div class="basic-container">
  <!-- <hr> -->
  <p>Welcome to this Showroom.</p>

  <p>The purpose of this Showroom is to demo some design works and under test features of Angular with Materials add-ons and a dashboard for a front fullstack api.</p>
  <p>Don't hesitate to have a look around and keep in mind that this site is dynamic and adapted according to daily needs of his owner.</p>
  <p>Please contact me if any questions.</p>

  <!-- <mat-divider></mat-divider> -->
  <br>

  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title><mat-icon class="check_request check_ok">done</mat-icon><code>@angular/material</code></mat-panel-title>
        <mat-panel-description>Material for Angular</mat-panel-description>
      </mat-expansion-panel-header>

      <mat-card>
        <mat-card-header>
          <mat-card-title><code>@angular/material</code></mat-card-title>
          <mat-card-subtitle>Material for Angular</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content><code>@angular/material</code> is installed and operational !!</mat-card-content>
        <mat-card-actions>
          <button mat-icon-button matTooltip="Share" aria-label="Share"><mat-icon>share</mat-icon></button>
          <button mat-icon-button matTooltip="Like" aria-label="Like" color="primary"><mat-icon>thumb_up</mat-icon></button>
          <button mat-icon-button matTooltip="Love" aria-label="Love" color="warn"><mat-icon>favorite</mat-icon></button>
        </mat-card-actions>
      </mat-card>

    </mat-expansion-panel >

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="check_request check_ok">done</mat-icon><code>Fontawesome Icons</code>
        </mat-panel-title>
        <mat-panel-description>Fontawesome for Angular</mat-panel-description>
      </mat-expansion-panel-header>

      <mat-card>
        <mat-card-header>
          <mat-card-title><code>Fontawesome Icons</code></mat-card-title>
          <mat-card-subtitle>Fontawesome for Angular</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content><code>Fontawesome Icons</code> are installed, registered and operational as well !!</mat-card-content>
        <mat-card-actions>
          <button mat-icon-button matTooltip="Check" aria-label="Check"><mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon></button>
          ...
          <button mat-icon-button matTooltip="Coffee" aria-label="Coffee"><mat-icon fontSet="fa" fontIcon="fa-coffee"></mat-icon></button>
        </mat-card-actions>
      </mat-card>

    </mat-expansion-panel >

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="check_request check_ok">done</mat-icon><code>angular-emojis</code>
        </mat-panel-title>
        <mat-panel-description>Emojis for Angular</mat-panel-description>
      </mat-expansion-panel-header>

      <mat-card>
        <mat-card-header>
          <mat-card-title><code>angular-emojis</code></mat-card-title>
          <mat-card-subtitle>Emojis for Angular</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content><code>angular-emojis</code> is operational and yummy !!</mat-card-content>
        <mat-card-actions>
          <angular-emojis [name]="'smiley'" size="40"> </angular-emojis>
          <angular-emojis [name]="'face-with-tears-of-joy'" size="30"> </angular-emojis>
          <angular-emojis [name]="'wink'" size="30"> </angular-emojis>
          <angular-emojis [name]="'sunglasses'" size="30"> </angular-emojis>
          <angular-emojis [name]="'thumbsup'" size="30"> </angular-emojis>
          <angular-emojis [name]="'wave'" size="30"> </angular-emojis>
          <angular-emojis [name]="'crossed_fingers'" size="30"> </angular-emojis>
        </mat-card-actions>
      </mat-card>

    </mat-expansion-panel >

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="check_request check_ok">done</mat-icon><code>@ngrx/store, effect, entity</code>
        </mat-panel-title>
        <mat-panel-description>Redux for Angular</mat-panel-description>
      </mat-expansion-panel-header>

      <mat-card>
        <mat-card-header>
          <mat-card-title><code>@ngrx/store @ngrx/effect  @ngrx/entity</code></mat-card-title>
          <mat-card-subtitle>Redux for Angular</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content><code>@ngrx/store @ngrx/effect  @ngrx/entity</code> are effective and estonishing !!</mat-card-content>
        <mat-card-content>Just check Redux dev tools plugin in your browser ...</mat-card-content>
      </mat-card>

    </mat-expansion-panel >

    <mat-expansion-panel  hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-spinner *ngIf="loading" class="check_request" [diameter]="16" [strokeWidth]="2"></mat-spinner>
          <mat-icon *ngIf="!loading" class="check_request check_ko"  [class.check_ok]="ping()" >{{ping() ? 'done' : 'warning'}}</mat-icon>
          <code>koa-typescript-restfull-api</code>
        </mat-panel-title>
        <mat-panel-description>Fullstack Restfull API</mat-panel-description>
      </mat-expansion-panel-header>
      <p *ngIf="loading">
        checking for koa server availability ...
      </p>
      <div *ngIf="!loading">
        <p>
          Restfull Koa server is {{ping() ? '' : 'not'}} available - Play around without limit, the server is daily restarted anyhow .....
        </p>
        <p>
          Swagger on
          <a href="https://api.koa.pfouque.fr:8443/swagger" target="_blank" title="Koa Swagger">
            <mat-icon class="material-icons md-24">engineering</mat-icon>
          </a>
          - Repository on
          <a href="https://github.com/pfouque06/koa-typescript-restfull-api" target="_blank" title="GitHub">
            <mat-icon class="material-icons md-24" fontSet="fa" fontIcon="fa-github"></mat-icon>
          </a>
        </p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="check_request check_ok">done</mat-icon><code>Docker</code>
        </mat-panel-title>
        <mat-panel-description>Docker application</mat-panel-description>
      </mat-expansion-panel-header>

      <mat-card>
        <mat-card-header>
          <mat-card-title><code>Docker</code></mat-card-title>
          <mat-card-subtitle>Docker application</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>Full scope of this fullstack web application is sucessfully dockerized !!!!</mat-card-content>
      </mat-card>

    </mat-expansion-panel >

  </mat-accordion>

</div>
