.check_request {
  margin: -5px 10px 0px 0px;
  /* height: 15px!; */
  /* width: 15px!; */
}

.check_ok {
  color: rgb(0, 100, 0) !important; /* dargreen */
}
.check_ko {
  color: rgb(220,20,60); /* crimson */
}
