<!-- <p>home works!</p> -->
<section>
  <mat-card>
    <mat-card-content fxLayout="column" fxLayoutAlign="space-evenly start">
      <span>
        This dashboard is a fullstack front demo in connection with a restfull server : <code>koa-typescript-restfull-api</code>.
      </span>
      <span>
        Check the availability of the koa server in above expansion section.
      </span>
      <p>
        You can find details on this server at the following links :
        <a href="http://nodejs.koa-typescript-restfull-api.pfouque.fr:8080/swagger" target="_blank" title="Swagger">
          <mat-icon class="material-icons md-24">engineering</mat-icon>
        </a>
      </p>
    </mat-card-content>
  </mat-card>

</section>
