<!-- <div class="progressBarDiv" *ngIf="isLoading">
  <mat-spinner [diameter]="50" [strokeWidth]="2"></mat-spinner>
  <mat-progress-spinner class="is-loading" mode="indeterminate"></mat-progress-spinner>
</div>
<div *ngIf="!isLoading">
</div> -->
<!-- <app-profile-user-details [readOnly]="true" [user]="this.user"></app-profile-user-details> -->
<!-- <app-profile-user-details [readOnly]="true" [userId]="this.user.id"></app-profile-user-details> -->
<app-profile-user-details [readOnly]="true"></app-profile-user-details>
