<!-- <p>footer works!</p> -->
<footer fxLayout="row" fxLayoutAlign="start center">
  <p>
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved - Philippe Fouque Design -
    Repository on
    <a href="https://github.com/pfouque06/Angular-Bootstrap-Showroom" target="_blank" title="GitHub">
      <!-- <fa-icon class="text-dark" [icon]="['fab', 'github']" size="lg"></fa-icon> -->
      <mat-icon class="material-icons md-24">local_library</mat-icon>
    </a>
  </p>
</footer>
