<!-- <p>footer works!</p> -->
<footer fxLayout="row" fxLayoutAlign="start center">
  <mat-divider></mat-divider>
  <p>
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
    - Philippe Fouque Design
    <a href="http://www.pfouque.fr/" target="_blank" title="Contact"><mat-icon fxLayout="column" class="material-icons md-24">contact_page</mat-icon></a>
    - Repository on
    <a href="https://github.com/pfouque06/Angular-Material-Showroom" target="_blank" title="GitHub">
      <mat-icon class="material-icons md-24">local_library</mat-icon>
    </a>
  </p>
</footer>
