<p>
  Nice spinners and progress bars with Material and some more with Fontawesome ...
</p>

<mat-accordion multi>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><code>Material</code></mat-panel-title>
      <mat-panel-description>Spinners</mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-content>
        <mat-spinner diameter="20" color="warn"></mat-spinner>
      </mat-card-content>
      <mat-card-content>
        <!-- <ionic-loader type="bubbles" color="primary" isLoading="true" message="bubbles/primary"></ionic-loader> -->
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><code>Material</code></mat-panel-title>
      <mat-panel-description>Progressive bars</mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-content>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-content>
      <mat-card-content>
        <mat-progress-bar mode="buffer" color="warn"></mat-progress-bar>
      </mat-card-content>
      <mat-card-content>
        <mat-progress-bar mode="query" color="accent"></mat-progress-bar>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><code>Fontawesome</code></mat-panel-title>
      <mat-panel-description>Spinners</mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-header>Rotating spinners</mat-card-header>
      <mat-card-content>
        <mat-icon fontSet="fa" fontIcon="fa-spinner" class="fa-spin"></mat-icon>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>Pulsed spinners</mat-card-header>
      <mat-card-content>
        <mat-icon fontSet="fa" fontIcon="fa-spinner" class="fa-pulse"></mat-icon>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>

</mat-accordion>
