<p>
  Nice spinners with materials and fontawesome ...
</p>

<mat-accordion multi>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title><code>Materials</code></mat-panel-title>
      <mat-panel-description>spinners</mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-content>
        <mat-spinner diameter="20" color="warn"></mat-spinner>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title><code>Materials</code></mat-panel-title>
      <mat-panel-description>progressive bars</mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-content>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-content>
      <mat-card-content>
        <mat-progress-bar mode="buffer" color="warn"></mat-progress-bar>
      </mat-card-content>
      <mat-card-content>
        <mat-progress-bar mode="query" color="accent"></mat-progress-bar>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title><code>Fontawesome</code></mat-panel-title>
      <mat-panel-description>rotating spinners</mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-content>
        <mat-icon fontSet="fa" fontIcon="fa-spinner" class="fa-spin"></mat-icon>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title><code>Fontawesome</code></mat-panel-title>
      <mat-panel-description>pulsed spinner</mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-content>
        <mat-icon fontSet="fa" fontIcon="fa-spinner" class="fa-pulse"></mat-icon>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>

</mat-accordion>
