<!-- <p>side-bar works!</p> -->
<mat-spinner *ngIf="loading" [diameter]="50" [strokeWidth]="2"></mat-spinner>
<mat-list role="list" dense>
  <mat-list-item role="listitem">
    <a [routerLink]="['/dashboard']" title="Home">
      {{fullName | titlecase }}
    </a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a [matMenuTriggerFor]="userMenu" aria-label="User menu" title="User menu">Users...</a>
  </mat-list-item>
  <mat-list-item role="listitem" *ngIf="isAdmin()">
    <a [matMenuTriggerFor]="adminMenu" aria-label="Admin menu" title="Admin menu">Admin...</a>
  </mat-list-item>
</mat-list>

<mat-menu #userMenu="matMenu">
  <ng-template matMenuContent>
    <a mat-menu-item [routerLink]="['/dashboard/users/list']" title="User list">
      Users List
    </a>
    <a mat-menu-item [routerLink]="['/dashboard/users/form']" title="User list">
      User Form
    </a>
  </ng-template>
</mat-menu>

<mat-menu #adminMenu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item (click)="usersReset()" title="User Table Reset">
      User Table Reset
    </button>
    <button mat-menu-item (click)="authReset()" title="Authenticated session Reset">
      Authenticated session Reset
    </button>
  </ng-template>
</mat-menu>
