<!-- <p>side-bar works!</p> -->
<mat-spinner *ngIf="loading" [diameter]="50" [strokeWidth]="2"></mat-spinner>
<mat-list role="list" dense>
  <mat-list-item role="listitem">
    <button mat-button [routerLink]="['/dashboard']" title="Home">
      <mat-icon class="material-icons md-24">home</mat-icon>
      Home
    </button>
  </mat-list-item>
  <mat-list-item role="listitem">
    <button mat-button [routerLink]="['/dashboard/users/profile']" title="Your profile">
      <mat-icon class="material-icons md-24">folder_shared</mat-icon>
      {{fullName$ | async}}
    </button>
  </mat-list-item>
  <mat-list-item role="listitem">
    <button mat-button [routerLink]="['/dashboard/users/list']" title="User List">
      <mat-icon class="material-icons md-24">people_alt</mat-icon>
      Users ...
    </button>
  </mat-list-item>
  <mat-list-item role="listitem" *ngIf="(profileType$ | async) === 'admin'">
    <button mat-button [matMenuTriggerFor]="adminMenu" aria-label="Admin menu" title="Admin menu">
      <mat-icon class="material-icons md-24">engineering</mat-icon>
      Admin
      <span *ngIf="!adminConnecting">...</span>
      <mat-spinner *ngIf="adminConnecting" diameter="10" color="warn"></mat-spinner>
    </button>
  </mat-list-item>
</mat-list>

<mat-menu #userMenu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item [routerLink]="['/dashboard/users/list']" title="User List">
      Users List
    </button>
  </ng-template>
</mat-menu>

<mat-menu #adminMenu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item [matMenuTriggerFor]="userAdminMenu" aria-label="User admin menu" title="User admin menu">
      <mat-icon class="material-icons md-24">people_alt</mat-icon>
      Users menu
    </button>
    <button mat-menu-item [matMenuTriggerFor]="authAdminMenu" aria-label="Authenticated session Reset" title="Authenticated session Reset">
      <mat-icon class="material-icons md-24">lock</mat-icon>
      Sessions menu
    </button>
  </ng-template>
</mat-menu>

<mat-menu #userAdminMenu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item [routerLink]="['/dashboard/users/form']" title="User list">
      <mat-icon class="material-icons md-24">person_add</mat-icon>
      add a User
    </button>
    <button mat-menu-item (click)="usersReset()" title="User table Reset">
      <mat-icon class="material-icons md-24">restore</mat-icon>User Table Reset
    </button>
  </ng-template>
</mat-menu>

<mat-menu #authAdminMenu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item [routerLink]="['/dashboard/sessions/list']" title="Sessions List">
      <mat-icon class="material-icons md-24">people_alt</mat-icon>Sessions List
    </button>
    <button mat-menu-item (click)="authReset()" title="Authenticated session Reset">
      <mat-icon class="material-icons md-24">restore</mat-icon>Authenticated session Reset
    </button>
  </ng-template>
</mat-menu>
