<header fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxLayoutAlign="start center">
    <button mat-icon-button color="skillful" [matMenuTriggerFor]="responsiveMenu" class="buttonMenu"><mat-icon>menu</mat-icon></button>

    <!-- <a [routerLink]="['/home']"><img src="../../../favicon.ico" alt="logo" style="height: 45px; width: 45px;"></a> -->
    <a mat-flat-button [routerLink]="['/']" class="header_title">{{ title }}</a>
  </div>

  <mat-toolbar fxLayout="row" fxLayoutAlign="end center">
    <button [routerLink]="['/home']" title="Home" mat-flat-button><mat-icon class="material-icons md-32">home</mat-icon>Home</button>
    <button [routerLink]="['/sandbox']" title="Sanbox" mat-flat-button><mat-icon class="material-icons md-32">construction</mat-icon>Sandbox</button>
    <button [matMenuTriggerFor]="themeMenu" aria-label="Themes" title="Themes" mat-flat-button><mat-icon class="material-icons md-32">category</mat-icon>Themes</button>
    <button [routerLink]="['/dashboard']" [disabled]="!isLogged" title="Dashboard" mat-flat-button style="background: none;"><mat-icon class="material-icons md-32">dashboard</mat-icon>Dashboard</button>
    <button [matMenuTriggerFor]="loginMenu" aria-label="Account menu" title="Account menu" [color]="isLogged ? 'warn' : ''" mat-mini-fab>
      <mat-icon *ngIf="!connecting" class="material-icons md-32">{{ isLogged ? 'lock':'lock_open'}}</mat-icon>
      <mat-spinner *ngIf="connecting" diameter="25" [color]="isLogged ? 'warn' : 'disabled'"></mat-spinner>
    </button>
  </mat-toolbar>

</header>

<!-- <div [hidden]="!connecting">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div> -->
<mat-divider></mat-divider>
<br>

<mat-menu #responsiveMenu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item [routerLink]="['/home']" title="Home"><mat-icon class="material-icons md-32">home</mat-icon>Home</button>
    <button mat-menu-item [routerLink]="['/sandbox']" title="Sanbox"><mat-icon class="material-icons md-32">construction</mat-icon>Sandbox</button>
    <button mat-menu-item [matMenuTriggerFor]="themeMenu" aria-label="Themes" title="Themes"><mat-icon class="material-icons md-32">category</mat-icon>Themes</button>
    <button mat-menu-item [routerLink]="['/dashboard']" [disabled]="!isLogged" title="Dashboard" style="background: none;"><mat-icon class="material-icons md-32">dashboard</mat-icon>Dashboard</button>
    <button mat-menu-item [matMenuTriggerFor]="loginMenu" aria-label="Account" title="Account menu">
      <mat-icon class="material-icons md-32" [color]="isLogged? 'warn':''">{{ isLogged ? 'lock' : 'lock_open'}}</mat-icon>Account
    </button>
  </ng-template>
</mat-menu>

<mat-menu #themeMenu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item [routerLink]="['/themes/modal']" title="Themes/Modal">
      <mat-icon>flip_to_front</mat-icon>Modals
    </button>
    <button mat-menu-item [routerLink]="['/themes/spinner']" title="Themes/Spinner">
      <mat-icon>refresh</mat-icon>Spinners
    </button>
  </ng-template>
</mat-menu>

<mat-menu #loginMenu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item (click)="profileToggle()" [title]="isLogged? 'Your profile':'Register'">
      <mat-icon>{{isLogged? 'person' : 'person_add'}}</mat-icon>{{isLogged? (fullName$ | async):'Register'}}
    </button>
    <button mat-menu-item (click)="loginToggle()" [title]="isLogged? 'Logout':'Login'">
      <mat-icon [color]="isLogged? 'warn':'primary'">{{isLogged? 'exit_to_app' : 'login'}}</mat-icon>{{isLogged? 'Logout' : 'Login'}}
    </button>
  </ng-template>
</mat-menu>
