<header fxLayout="row" fxLayoutAlign="center center">
  <!-- <a [routerLink]="['/home']"><img src="../../../favicon.ico" alt="logo" style="height: 45px; width: 45px;"></a> -->
  <a [routerLink]="['/home']">{{ title }}</a>
  <a mat-icon-button color="skillful" [matMenuTriggerFor]="menu" class="buttonMenu"><mat-icon>menu</mat-icon></a>
  <mat-menu #menu="matMenu">
    <a mat-menu-item [routerLink]="['/home']"><mat-icon class="material-icons md-24">home</mat-icon>Home</a>
    <a mat-menu-item [routerLink]="['/sandbox']"><mat-icon class="material-icons md-24">construction</mat-icon>Sanbox</a>
    <a mat-menu-item [routerLink]="['/dashboard']"><mat-icon class="material-icons md-24">person</mat-icon>Dashboard</a>
    <!-- <a mat-menu-item [routerLink]="['/theme']"><mat-icon class="material-icons md-24">person</mat-icon>Sanbox</a> -->
    <!-- <a mat-menu-item [routerLink]="['/']"><mat-icon class="material-icons md-24">logout</mat-icon>Déconnexion</a> -->
  </mat-menu>
  <!-- <mat-toolbar fxLayout="row" fxLayoutAlign="center center"> -->
  <mat-toolbar>
    <!-- <ng-template #mainMenu>
    </ng-template> -->
    <button [routerLink]="['/home']" title="Home" mat-icon-button><mat-icon fxLayout="column" class="material-icons md-32">home</mat-icon>Home</button>
    <button [routerLink]="['/sandbox']" title="Sanbox" mat-icon-button><mat-icon fxLayout="column" class="material-icons md-32">construction</mat-icon>Sandbox</button>
    <button [matMenuTriggerFor]="themeMenu" aria-label="Themes" title="Themes" mat-icon-button><mat-icon fxLayout="column" class="material-icons md-32">category</mat-icon>Themes</button>
    <button [routerLink]="['/dashboard']" [disabled]="!login" title="Dashboard" mat-icon-button><mat-icon fxLayout="column" class="material-icons md-32">dashboard</mat-icon>Dashboard</button>
    <button [matMenuTriggerFor]="loginMenu" aria-label="Account menu" title="Account menu" [color]="login? 'warn':''" mat-mini-fab><mat-icon fxLayout="column" class="material-icons md-32">{{login? 'lock' : 'lock_open'}}</mat-icon></button>
  </mat-toolbar>
  <mat-menu #themeMenu="matMenu">
    <ng-template matMenuContent>
      <button mat-menu-item [routerLink]="['/themes/spinner']" title="Themes/Spinner">
        <mat-icon>refresh</mat-icon>Spinners
      </button>
    </ng-template>
  </mat-menu>
  <mat-menu #loginMenu="matMenu">
    <ng-template matMenuContent>
      <button mat-menu-item (click)="register()" [disabled]="login" [title]="login? '':'Register'">
        <mat-icon>{{login? 'person' : 'person_add'}}</mat-icon>{{login? (getCurrentUserFullName() | titlecase):'Register'}}
      </button>
      <button mat-menu-item (click)="loginToggle()" [title]="login? 'Logout':'Login'">
        <mat-icon [color]="login? 'warn':'primary'">{{login? 'exit_to_app' : 'login'}}</mat-icon>{{login? 'Logout' : 'Login'}}
      </button>
    </ng-template>
  </mat-menu>
</header>
<!-- <header fxLayout="row" fxLayoutAlign="start center">
    <div class="recherche">
        <div>
            <form action=" " class="formulaire">
                <div fxLayout="row ">
                    <mat-icon (click)="onSearch()" class="cursor">search</mat-icon>
                    <div class="input "><input (keydown)="onSearch() " placeholder="Recherche... "> </div>
                </div>
            </form>
        </div>
    </div>
</header> -->
