<!-- <p>emojis works!</p> -->
<p>
  Sweet emojis ...
</p>

<mat-accordion multi>

  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title><code>angular-emojis</code></mat-panel-title>
      <mat-panel-description>Emojis</mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-content>
        <angular-emojis [name]="'black_heart'" size="50"> </angular-emojis>
        <angular-emojis [name]="'black_medium_square'" size="50"> </angular-emojis>
        <angular-emojis [name]="'waving_black_flag'" size="50"> </angular-emojis>
        <angular-emojis [name]="'fist_1'" size="50"> </angular-emojis>
        <angular-emojis [name]="'fist_2'" size="50"> </angular-emojis>
      </mat-card-content>
      <mat-card-content>
        <angular-emojis [name]="'virus'" size="50"> </angular-emojis>
        <angular-emojis [name]="'mask'" size="50"> </angular-emojis>
        <angular-emojis [name]="'sneezing_face'" size="50"> </angular-emojis>
        <angular-emojis [name]="'gloves'" size="50"> </angular-emojis>
        <angular-emojis [name]="'soap'" size="50"> </angular-emojis>
      </mat-card-content>
      <mat-card-content>
        <angular-emojis [name]="'thinking_face'" size="20"> </angular-emojis>
        <angular-emojis [name]="'face-with-tears-of-joy'" size="30"> </angular-emojis>
        <angular-emojis [name]="'wink'" size="40"> </angular-emojis>
        <angular-emojis [name]="'sunglasses'" size="50"> </angular-emojis>
        <angular-emojis [name]="'smiley'" size="60"> </angular-emojis>
      </mat-card-content>
      <mat-card-content>
        <angular-emojis [name]="'taco'" size="20"> </angular-emojis>
        <angular-emojis [name]="'fries'" size="30"> </angular-emojis>
        <angular-emojis [name]="'burger'" size="40"> </angular-emojis>
        <angular-emojis [name]="'burrito'" size="50"> </angular-emojis>
        <angular-emojis [name]="'pizza'" size="60"> </angular-emojis>
      </mat-card-content>
      <mat-card-content>
        <angular-emojis [name]="'sun_with_face'" size="20"> </angular-emojis>
        <angular-emojis [name]="'full_moon_with_face'" size="30"> </angular-emojis>
        <angular-emojis [name]="'first_quarter_moon_with_face'" size="40"> </angular-emojis>
        <angular-emojis [name]="'star'" size="50"> </angular-emojis>
        <angular-emojis [name]="'star2'" size="60"> </angular-emojis>
      </mat-card-content>
      <mat-card-content>
        <angular-emojis [name]="'thumbsdown'" size="20"> </angular-emojis>
        <angular-emojis [name]="'wave'" size="30"> </angular-emojis>
        <angular-emojis [name]="'crossed_fingers'" size="40"> </angular-emojis>
        <angular-emojis [name]="'thumbsup'" size="50"> </angular-emojis>
        <angular-emojis [name]="'ok_hand'" size="60"> </angular-emojis>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>

</mat-accordion>
