<!-- <p>user-modal works!</p> -->
<div fxLayout="row" fxLayoutAlign="center center">
  <div>
    <h1 mat-dialog-title>{{title}}</h1>
    <mat-divider></mat-divider>
    <div mat-dialog-content>
      <p>
        <mat-form-field>
          <mat-label>Your email</mat-label>
          <input matInput [(ngModel)]="data.email"  placeholder="jack.son@mail.com" required>
          <mat-hint align="end">Your email</mat-hint>
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Your password</mat-label>
          <input matInput [(ngModel)]="data.password" [type]="hidePassword ? 'password' : 'text'" placeholder="<password>" required>
            <mat-hint align="end">Your password</mat-hint>
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword" type="button">
              <mat-icon>{{hidePassword? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <!-- <mat-icon matSuffix>vpn_key</mat-icon> -->
          </mat-form-field>
        </p>
      </div>
      <div mat-dialog-actions>
        <!-- <button mat-button (click)="onNoClick()">No</button> -->
        <!-- <button mat-button [mat-dialog-close]="data.email" cdkFocusInitial>Yes</button> -->
        <button mat-raised-button (click)="onSubmitClick()">submit</button>
      </div>
    </div>

  </div>
